{:description "Example search configuration"
 :watch? true
 :sources [{:path "/docs/**/*.md"
            :name "Documentation"
            :ingest :chunked
            :category "docs"}
           {:path "/src/**/*.clj"
            :name "Source Code"
            :ingest :namespace-doc
            :category "code"}]}
